/*#107f74 farba zelena*/

.sidebarButtons {
    -fx-background-color: #107f74;

    -fx-alignment: left;
    -fx-pref-height: 70;
    -fx-pref-width: 283;
    -fx-font-family: "Arial Black";
    -fx-font-size: 16;
    -fx-text-fill: white;


}

.textAreas .scroll-pane {
    -fx-background-color: transparent;
}
.textAreas .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.textAreas .scroll-pane .content{
    -fx-background-color: transparent;
}

.textAreas{

    -fx-border-radius: 10px;
    -fx-background-radius:10px;
    -fx-background-color: #FFFF;


}

.buttonActive{
    -fx-background-color: #0b5851;
}

.buttonNotActive{
    -fx-background-color: #107f74;
}

.sidebarButtons:hover {
    -fx-background-color: #236862;
}

.mainButtons {

    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #03383f;
    -fx-effect: dropshadow(three-pass-box, #107f74, 15, 0.2, 0, 0);

}
#buttonWithWorkout {
    -fx-background-image: url("../Images/workout.png");
    -fx-background-size: 200px;
    -fx-background-position: center;

}
#buttonWithMeasure {
    -fx-background-image: url("../Images/measures.png");
    -fx-background-size: 200px;
    -fx-background-position: center;

}
#buttonWithDiet {
    -fx-background-image: url("../Images/diet.png");
    -fx-background-size: 200px;
    -fx-background-position: center;

}

#buttonGoBack:hover{
    -fx-effect: dropshadow(three-pass-box, #e1f2f1, 5, 0.7, 0, 0);
}

.anchorBackground{

    -fx-background-image: url("../Images/vtsplreu.png");

}
#buttonPayPal:hover{
    -fx-effect: dropshadow(three-pass-box, #e1f2f1, 10, 0.7, 0, 0);

}

/*#buttonDiet {
   -fx-background-image: url("../Images/dietHomeButton.jpg");
}
#buttonMeasure {
    -fx-background-image: url("../Images/measureHomeButton.jpg");
}
#buttonWorkout {
    -fx-background-image: url("../Images/workoutHomeButton.jpg");
}
*/
.mainButtons:hover {
    -fx-effect: dropshadow(three-pass-box, #e1f2f1, 15, 0.7, 0, 0);

}
