.pane {
    -fx-background-image: url("../Images/workoutLogin.jpg");

}


.text-field:focused{
    -fx-faint-focus-color: #03383f;
}

#buttonLogIn {
    -fx-background-color: #ffff;
    -fx-text-fill: #107f74;
}

.button {
    -fx-background-color:  #107f74;
    -fx-text-fill: #ffff;
}

